@model App.Domain.Airport

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Airport</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Iata)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Iata)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeparturesLastCheckedUtc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeparturesLastCheckedUtc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalsLastCheckedUtc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalsLastCheckedUtc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayGate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayGate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayTerminal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayTerminal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayAirport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayAirport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country!.Iso2)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
