@model IEnumerable<App.Domain.Airport>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Iata)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeparturesLastCheckedUtc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalsLastCheckedUtc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayGate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayTerminal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayAirport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Iata)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeparturesLastCheckedUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalsLastCheckedUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayGate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayTerminal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayAirport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country!.Iso2)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
