@model App.Domain.Aircraft

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Aircraft</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IcaoHex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IcaoHex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpeedKmh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpeedKmh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InfoLastUpdatedUtc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InfoLastUpdatedUtc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AircraftModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AircraftModel!.ModelCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
